#header {
	.logo {
		width: 180px;
		height: 18px;
		line-height: 1;
		margin: 60px 0 15px;
		a {
			display: block;
		}
	}
}

#mainvisual {
	margin-bottom: 66px;
}

#index {
	background: $back;
	.index_txt {
		border: 1px solid $txt;
		padding: 30px;
		ol {
			font-size: 0.9rem;
			display: table;
			margin: 0 auto;
			white-space: nowrap;
			li {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

#imgs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	&.section {
		padding: 0;
	}
	li {
		width: 49%;
		margin-bottom: 15px;
		list-style: none;
	}
}

#detail {
	background: $back;
	.detail {
		&_content {
			display: flex;
			align-items: flex-start;
			dl {
				display: flex;
				flex-wrap: wrap;
				width: 35%;
				border-right: 1px solid $txt;
				dt {
					width: 100%;
					font-size: 0.9rem;
					font-weight: bold;
					line-height: 1.5;
				}
				dd {
					width: 100%;
					font-size: 0.9rem;
					margin-bottom: 10px;
					line-height: 1.5;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&_txt {
			width: 65%;
			margin-left: 40px;
			p {
				line-height: 1.5;
				font-size: 0.9rem;
				margin-bottom: 20px;
				&:nth-child(2) {
					margin-bottom: 23px;
				}
			}
			.btn {
				font-size: 0.9rem;
				&:hover {
					opacity: .7;
				}
			}
		}
	}
}

#footer {
	padding: 15px 0;
	text-align: center;
	p {
		font-size: 0.5rem;
	}
}